/* Apply styles to the "Contact Us" section */

.contact-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact-section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  

.contact-section {
    padding: 55px;
    background-color: #f9f9f9;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(16, 15, 15, 0.1);
  }
  
  .contact-section h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-section p {
    color: #2b2980;
    margin-bottom: 20px;
  }
  